
html
{

    background-color:gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}




body
{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:27px;
    max-width: 100%;
    overflow-x: hidden;
}

/* ----------- top navigation bar  ----------------*/



#logo
{
  background-color:blue;
  background:url("Images/logo_s.png");
  background-repeat:no-repeat;
  background-size:70%;
  background-position:center;
  background-position-y:-2px;
  width:64px;
  height:50px;
  position:relative;
  text-indent:-999px;
  position:relative;
  top:-10px;
  z-index:9999;
}


.navigation

{
    background-color:rgba(2, 2, 2, 1);
    
    opacity:.7;
    position:relative;
    
    z-index:999;
    font-size:20px;
    
}

.navigation a
{
  text-decoration:none;
}

.navigation ul
{
    list-style-type:none;
    padding:15px;
    padding-bottom:0;
    margin:0px;
    border-bottom:2px solid gray;
    
    
}

li
{
    display:inline-block;
   margin:0;
   padding:0 20px 0 20px;
   color:white;
   background-color:red;
   
}

/* ----------- the two tabs on the right  ----------------*/
#right
{
 position:relative;
 float:right;
}

#right1
{
  
    position:relative;
    float:right;
    margin:0 10px 0 10px;
   
}




/* ----------- drop down menus on the Games navigation tab ----------------*/
.navigation li ul 
{
  border:none;
  text-align:left;
  position:absolute;
  left:-30px;
  background:gray;
  top:39px;
width:100%;
 height:200px;
  display:none;
  background-color:rgba(5,2,1,1);
  border-bottom:2px solid white;
  
  
}

.navigation li ul li
{
  
  color:black;
  padding:14px 28px 14px 28px;
 
  opacity:1;
  margin-top:2px;
  background-color:rgba(1,1,1,0);
  display:inline-block;
  
}

.navigation li ul
{
  background-color:rgba(1,1,1,1);
  opacity:1;
  border:0;
  
  margin:0;
  
  height:auto;

}

.navigation img
{
  position:relative;
  left:45px;
  opacity:1;
  
}



.navigation li:hover ul 
{
  display:inline-block;
  opacity:1;
}

.navigation:hover
{
  opacity:.8;
  
}




/*------------------ hoirzontal list of items/games--------------- */
.gamelist
{
    position:relative;
    
    background-color:black;
    background-size:100%;
    background-position:center;
    color:white;
    height:auto;
    border:2px solid red;
    
    
 
}



#Games  /* this is the games section's caption */
{
  position:relative;
  top:30px;
  left:85px;
  font-size:35px;
}
.gamelist a
{
  text-decoration:none;
 margin:0;
 padding:0;
 
}

.gamelist li
{
  margin:45px;
  padding:0;
  padding-bottom:0;
  height:200px;
  margin-top:80px;
 
}



/* the single line div */

.singleLine

{
 
  color:black;
  position:relative;
 font-size:20px;
padding:20px;
 background-color:white;
text-align:center;
 
}

/*----------------- Top Stores Div -----------*/
#stories /* the Top Stories caption */
{
  position:relative;

  left:85px;
  font-size:35px;
  
}

.stories
{
  
  position:relative;
  background-color:black;
  height:659px;
  border:2px solid red;
  padding:0;
  margin:0;

}


.stories a
{
  text-decoration:none;
  color:white;
   
}

.stories ul
{
  padding:0;
  margin:0;
  display:inline-block;
  width:100%;
  
}
.stories li
{
 
  height:400px;
  width:398px;
  padding:0;

  margin:120px 0px 0px 0px;
  position:relative;
  left:-100px;
  padding-right:0;
  margin-right:0;
}

.stories img
{
  width:398px;
  height:400px;
}

/* ----------- Create Worlds Div  ----------------*/




.createworlds
{
  background:white;
  height:429px;
  padding:40px;  
}

.createworlds a
{
  color:black;
  text-decoration:none;
  
}



/* ----------- End Page Div  ----------------*/

.page_end
{
  height:527px;
  background-color:black;
  border:2px solid red;
 color:white;
 padding:50px;
}




/* responsive slides plugin */



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  margin:0;
  padding:0;
  
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
 
  }

  .rslides1_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     top:200px;
    left: 0;
    z-index: 99;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("http://responsiveslides.com/with-captions/themes.gif") no-repeat left top;
    margin-top: -45px;
    
  }


  .rslides1_nav:active {
    opacity: 1.0;
  }
  
  .rslides1_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
  }

  .rslides1_nav:focus {
    outline: none;
  }
  
  .centered-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("themes.gif") no-repeat left top;
    margin-top: -45px;
  }
  
  .centered-btns_nav:active {
    opacity: 1.0;
  }


  .centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
  }
  
  a {
    color: #fff;
  }
  
  .rslides {
    margin: 0 auto;
  }
  
  .rslides_container {
    margin-bottom: 50px;
    position: relative;
    float: left;
    width: 100%;
  }
  
  .centered-btns_nav {
    z-index: 10;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("themes.gif") no-repeat left top;
    margin-top: -45px;
  }
  
  .centered-btns_nav:active {
    opacity: 1.0;
  }
  
  .centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
  }
  
  .transparent-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    display: block;
    background: #fff;
    /* Fix for IE6-9 */
    opacity: 0;
    filter: alpha(opacity=1);
    width: 48%;
    text-indent: -9999px;
    overflow: hidden;
    height: 91%;
  }
  
  .transparent-btns_nav.next {
    left: auto;
    right: 0;
  }
  
  .large-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0.6;
    text-indent: -9999px;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    background: #000 url("themes.gif") no-repeat left 50%;
    width: 38px;
  }
  
  .large-btns_nav:active {
    opacity: 1.0;
  }
  
  .large-btns_nav.next {
    left: auto;
    background-position: right 50%;
    right: 0;
  }
  
  .centered-btns_nav:focus,
  .transparent-btns_nav:focus,
  .large-btns_nav:focus {
    outline: none;
  }
  
  .centered-btns_tabs,
  .transparent-btns_tabs,
  .large-btns_tabs {
    margin-top: 10px;
    text-align: center;
  }
  
  .centered-btns_tabs li,
  .transparent-btns_tabs li,
  .large-btns_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
  }
  
  .centered-btns_tabs a,
  .transparent-btns_tabs a,
  .large-btns_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(0, 0, 0, .2);
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    width: 9px;
    height: 9px;
  }
  
  .centered-btns_here a,
  .transparent-btns_here a,
  .large-btns_here a {
    background: #222;
    background: rgba(0, 0, 0, .8);
  }








@media screen and (max-width: 1439px)
{
  .stories
{
  height:auto;
}
 .stories ul {
   display:block;
    background:black;
    
  }

  .stories img 
  {
  width:100%;
  height:100%;
   
    
  }
   .stories li 
   {
    display:block;
    margin-left:350px;
    margin-bottom:20px;
     
   }
 }
 

 @media screen and (min-width: 1440px)
 {
   #stories
 {
  top:-450px;
 }

}